@charset "utf-8";

*{margin: 0 auto; padding: 0; font-family: "맑은고딕";}
a{text-decoration: none; color: black;}
a:hover{color: blue;}

#header{width: 100%; height: 112px; border-bottom: 1px solid black;}
#cont{width: 100%; height: 700px;}
#footer{width: 100%; height: 111px;}





.header{width: 70%; height: 100%;}
.header>.logo{width: 50%; height: 100%; float: left;}
.header>.logo>img{ height: 100%;}

li{list-style: none; float: left;}
.menu{float: right;}
.header>top_menu{float: left;}



#cont>.sub{width: 100%; height: 50px;}
#cont>.sub>ul>li{width: 50%; height: 100%; text-align: center; border-bottom: 1px solid black;}

#cont>.infoimg>img{margin-left: 400px; margin-top: 90px;}
#cont>.infoimg{width: 50%; float: left;}

.info{position: relative; top: 170px;}

#footer>p{text-align: center; padding-top: 50px; border-top: 1px solid black;}



#cont>form{margin-top: 70px;}

 
#cont>h3{text-align: center; position: relative; top: 50px; font-size: 20pt;}

#cont>.content{width: 20%; height: 75%; border: 1px solid black; float: left; margin-left: 30px;}

#cont>.content>.name_box{ border-bottom: 1px dotted black; height: 75px;}
#cont>.content>.name_box>p{font-size: 20pt; text-align: center; font-weight: bold; position: relative; top: 15px;}

#cont>.content>.dong{border-bottom: 1px dotted black; height: 120px;}
#cont>.content>.dong>.bigname{font-weight: bold;}
#cont>.content>.dong:last-child{border-bottom: none;}

#cont>.login{margin-left: 700px; position: relative; top: 200px;}


#cont>.content_2{width: 20%; height: 50%; border: 1px solid black; float: left; margin-left: 30px;}

#cont>.content_2>.name_box{border-bottom: 1px dotted black; height: 70px;}
#cont>.content_2>.name_box>p{font-size: 20pt; text-align: center; font-weight: bold; position: relative; top: 15px;}

#cont>.content_2>.dong{border-bottom: 1px dotted black; height: 120px;}
#cont>.content_2>.dong>.bigname{font-weight: bold;}
#cont>.content_2>.dong:last-child{border-bottom: none;}

#cont>.myinfo{margin-left: 700px; margin-top: 150px;}

#cont>a>.modi{position: relative; left: 800px; top: 30px;}

#cont>.list{position: relative; top: 100px;}

.table{position: relative; top: 200px;}